<div class='row'>
  <h3>
    <span class='fa fa-magic'></span>
    IR
  </h3>

  <hr>

  <div class='lead'>Cadastro de códigos IR.</div>

  <form ng-submit='addInfrared(description, codes)'>
    <div class='form-group'>
      <label for='description'>Descrição</label>
      <input type='text' class='form-control' id='description' ng-model='description' placeholder='Descrição'>
    </div>
    <div class='form-group'>
      <label for='code'>Códigos</label>
      <div class='input-group'>
        <input type='text' class='form-control' id='code' ng-model='code' placeholder='Código'>
        <div class='input-group-btn'>
          <button type='button' ng-click='addCode(code)' class='btn btn-default'>Adicionar</button>
        </div>
      </div>
    </div>

    <table class='table table-striped' ng-if='codes.length > 0'>
      <thead>
        <tr>
          <th>Código</th>
          <th>Enviar Sinal</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='code in codes track by $index'>
          <td>{{code}}</td>
          <td><button type='button' class='btn btn-success' ng-click='send(code)'>Enviar</button></td>
          <td><button type='button' class='btn btn-danger' ng-click='removeCode(index)'>Remover</button></td>
        </tr>
      </tbody>
    </table>
    <button type='submit' class='btn btn-success' ng-disabled='validateForm()'>Salvar</button>
  </form>
</div>
