html {
  position: relative;
  min-height: 100%;
}

body > .container {
  padding: 50px 15px 0;
}

.view {
  width: 80%;
}

.view.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.view.ng-enter.ng-enter-active {
  opacity:1;
}

.view.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.view.ng-leave.ng-leave-active {
  opacity:0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.clickable {
  cursor: pointer;
}
