<div class='row'>
  <h3>
    <span class='fa fa-magic'></span>
    Infra Vermelho
  </h3>

  <hr>

  <div class='lead'>Emite algum trem por aí.</div>

  <form ng-submit='addCode(code)'>
    <div class='form-group'>
      <label for='code'>Código</label>
      <input type='text' class='form-control' id='code' ng-model='code' placeholder='Código'>
    </div>
    <button type='submit' class='btn btn-success'>Adicionar</button>
  </form>

  <table class='table table-striped' ng-if='codes.length > 0'>
    <thead>
      <tr>
        <th>Código</th>
        <th>Enviar Sinal</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='code in codes track by $index'>
        <td>{{code}}</td>
        <td><button type='button' class='btn btn-success' ng-click='send(code)'>Enviar</button></td>
        <td><button type='button' class='btn btn-danger' ng-click='removeCode(index)'>Remover</button></td>
      </tr>
    </tbody>
  </table>
</div>
